.goback{
    padding: 8px 16px;
    font-family: __Inter_aaf875, __Inter_Fallback_aaf875;
    font-style: normal;
    display: flex;
    font-weight: 300;
    justify-content: center;
    /* align-items: center; */
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: text-shadow ease-in  .15s;
    margin: 0px 0px 16px;
    letter-spacing: 1px;
    /* border: 1px solid red; */
    text-decoration: none;

}
.goback:hover{
    font-weight:700;
    color: #eee;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
input{
   height: 42px;
   width: 358px;
    /* background-color:rgba(78, 89, 147, 0.377); */
    background-color: #2A2A3B;
    border-width: 1px;
    border-color: white ;
    border-radius: .375rem;
    border: 1px solid #e5e7eb;
    color: white;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}
.lin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
label{
    color: #60A5FA;
    font-family: __Inter_aaf875, __Inter_Fallback_aaf875;
    font-style: normal;
    font-size: 20px;
    margin: 0px 0px 4px;
}
.fom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    
}
/* .description{
width: 96px;
height: 231.5px;
} */
.lin1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lin1>textarea{
    height: 6rem;
    padding: 8px;
    border: 1px solid white;
    background-color: #2A2A3B;
    border-radius: .375rem ;
    resize: vertical;
}
.lin2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lin2>input{
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 8px;
    font-style: normal;
    font-size: large;
    border: 1px solid ;
    letter-spacing: 0.5px;
}
.upper{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.downform{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.upform{
    display: none;
    
}
h3{
    color: #60A5FA;
    cursor: pointer;
}
.button1{
    color: #e5e7eb;
    height: 42px;
   width: 358px;
   background-color: #0D6EFD;
   border-radius: 6px;
   cursor: pointer;
   border: none;
   font-size: medium;
}
.button1:hover{
    background-color: #2A2A3B;
}
.form{
    margin-top: 50px;
}
